h1 {
    background-color: black;
    color: white;
}

span {
    color: cyan;
}

h2 {
    background-color: rebeccapurple;
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}

h3 {
    background-color: aqua;
    color: purple;
    text-align: right;
    text-decoration: underline;
}