.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 10px;
}
.side-nav {
    height: 320px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 5px;
}
.main {
    height: 500px;
    width: 730px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
}
.sub-content {
    height: 120px;
    width: 120px;
    background-color: yellow;
    display: inline-block;
    margin: 10px;
    padding: 40px;
}
#advertisement {
    height: 120px;
    width: 680px;
    background-color: purple;
    margin: 5px;
}
